/* debug rules */

.container{
    margin-top: 50px;
}

[class*="col"] {
    background-color: rgb(171, 39, 191);
    outline: solid 1px rgb(255, 255, 255);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-nested{
    margin: 30px;
}

.col-nested{
    background-color: rgb(227, 37, 192);
    border: rgb(171, 39, 191) solid 1px;
}